install/
docs/
log/
scripts/
build/
captured_images/
__pycache__/
.marscode/
collected_data_20251225_174027/
collected_data_20251223_184342/
collected_data_20251225_174748/
collected_data_20251225_174824/
collected_data_20251225_174859/
collected_data_merged/
model/*
captured_images_befoe12.25/
pointclouds_ply/
rgb_images/
vscode/*